@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.CoworkingSpace>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web
@{
    Layout = "master.cshtml";

    var selection = Model.Ancestor("home");
    var home = (Home)selection;

    string page = "Coworking Space";
}

<!--Above the Fold Column 1 and Carousel -->
<div class="container-fluid p-0" id="aboveTheFold">
    <div class="row rowHeight">
        <div class="desktop-view col-lg-7 col-md-12"
             style="background: #000 url('@Model.AboveTheFoldCol1BgImage.Url');
                    background-repeat: repeat;
                    background-position: center;
                    position: relative;
                    min-height: 250px;
                    padding: 0 80px;
                    color: #fff;">
            <div class="vertical-center-transform">
                @Html.Raw(Model.AboveTheFoldHeading)
                <div class="orange-divider-1px"></div>
                @Html.Raw(Model.AboveTheFoldSubHeading)
                @Html.Raw(Model.AboveTheFoldDescription)
                <a href="@Model.AboveTheFoldButtonLink" class="btn btn-primary" role="button" aria-pressed="false">@Model.AboveTheFoldButtonText</a>
            </div>
        </div>

        <!-- Carousel -->
        <div class="col-lg-5 col-md-12 col-sm-12 col-12 owl-carousel owl-theme w-100 px-0" id="aboveTheFold_carousel">
            @{
                int count = 0;
                {
                    foreach (var city in home.Children)
                    {
                        if (city.IsDocumentType("cityItems"))
                        {
                            foreach (var building in city.Children)
                            {
                                if (building.IsDocumentType("buildings"))
                                {
                                    var featured = (Buildings)building;
                                    if (featured.AppearOnPage.Contains(page))
                                    {
                                        if (count >= 3)
                                        {
                                            break;
                                        }

                                        else
                                        {
                                            <div class="container-fluid h-100 p-0 kv-banner-100vh" 
                                                 style="color: #fff;">
                                                 
                                                 <img class="img-bg owl-lazy"
                                                     data-src="@featured.FeaturedPhoto.Url" />

                                                <div class="spacer-sm"></div>

                                                <div class="spaces-carousel-text" style="background-color: rgba(0,0,0,0.7); padding: 20px;">
                                                    <h4 class="text-semibold text-orange text-uppercase">
                                                        <a href="@featured.Url">@featured.FeaturedBuildingName</a>
                                                    </h4>
                                                    <h5>
                                                        <i class="fa fa-map-marker-alt" aria-hidden="true"></i>&nbsp;
                                                        @featured.FeaturedBuildingCity
                                                    </h5>
                                                    @Html.Raw(featured.BuildingAddress)
                                                    <br />
                                                    <a href="/locations/" class="viewAllLocations">View All Locations</a>
                                                    <div class="spacer-sm"></div>
                                                </div>
                                            </div>
                                            count++;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        </div>

        <!--Title and Description On Mobile-->
        <div class="container mobile-view"
             style="background: #fff;
                    min-height: 250px;
                    padding: 30px;
                    color: #333;">

            <div>
                @Html.Raw(Model.AboveTheFoldHeading)
                <div class="orange-divider-1px"></div>
                @Html.Raw(Model.AboveTheFoldSubHeading)
                @Html.Raw(Model.AboveTheFoldDescription)
                <a href="@Model.AboveTheFoldButtonLink" class="btn btn-primary" role="button" aria-pressed="false">@Model.AboveTheFoldButtonText</a>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid p-0" id="coworking-space-section">
    <div class="container-fluid desktop-view">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="container overlap_left"
                         style="position: relative;
                                height: 500px;">

                        <img class="img-fluid img_object-fit img-overlap-style"
                             data-src="@Model.OfficeSubTypeSupportingImage.Url"
                             alt="@Model.OfficeSubTypeImageAltTag"
                             title="@Model.OfficeSubTypeImageAltTag" />
                    </div>

                    <div class="overlap_border_left"></div>
                </div>

                <div class="col-12 col-lg-6 overlap_contents">
                    @Html.Raw(Model.CoworkingSpaceHeading)
                    @Html.Raw(Model.CoworkingSpaceSubHeading)
                    <div class="orange-divider"></div>
                    @Html.Raw(Model.CoworkingSpaceDescription)
                    <a href="@Model.CoworkingSpaceButtonLink" class="btn btn-primary" role="button" aria-pressed="false">@Model.CoworkingSpaceButtonText</a>
                </div>
            </div>
        </div>
        <div class="spacer-lg"></div>
    </div>

    <div class="mobile-view">
        <img class="img-fluid img_object-fit-mobile img-overlap-style-mobile"
             data-src="@Model.OfficeSubTypeSupportingImage.Url"
             alt="@Model.OfficeSubTypeImageAltTag"
             title="@Model.OfficeSubTypeImageAltTag" />

        <div class="container-fluid">
            <div class="container">
                @Html.Raw(Model.CoworkingSpaceHeading)
                @Html.Raw(Model.CoworkingSpaceSubHeading)
                <div class="orange-divider"></div>
                @Html.Raw(Model.CoworkingSpaceDescription)
                <a href="@Model.CoworkingSpaceButtonLink" class="btn btn-primary" role="button" aria-pressed="false">@Model.CoworkingSpaceButtonText</a>
            </div>
        </div>
    </div>

</div>

<div class="p-0" id="kmc-passport-section"
     style="background: #000000 url('@Model.KMcpassportSectionBgImage.Url');
            background-repeat: repeat;
            position: relative;
            min-height: 300px;">

    <div class="container-fluid desktop-view">

        <div class="container">
            <div class="row">
                <div class=" col-12 col-lg-6 overlap_contents">
                    @Html.Raw(Model.KMcpassportHeading)
                    @Html.Raw(Model.KMcpassportDescription)
                    <a href="@Model.KMcpassportButtonLink" target="_blank" class="btn btn-primary" role="button" aria-pressed="false">@Model.KMcpassportButtonText</a>
                </div>

                <div class="col-12 col-lg-6 m-auto">

                    <div class="container overlap_right"
                         style="position: relative; height: 500px;">

                        <img class="img-fluid img_object-fit img-overlap-style"
                             data-src="@Model.KMcpassportSupportingImage.Url"
                             alt="@Model.KMcpassportImageAltTag"
                             title="@Model.KMcpassportImageAltTag" />
                    </div>

                    <div class="overlap_border_right"></div>
                </div>
            </div>
            <div class="spacer-lg"></div>
        </div>
    </div>

    <div class="mobile-view">
        <img class="img-fluid img_object-fit-mobile img-overlap-style-mobile"
             data-src="@Model.KMcpassportSupportingImage.Url"
             alt="@Model.KMcpassportImageAltTag"
             title="@Model.KMcpassportImageAltTag" />

        <div class="container-fluid">
            <div class="container">
                <div class="col-12 col-lg-6">
                    @Html.Raw(Model.KMcpassportHeading)
                    <div class="orange-divider"></div>
                    @Html.Raw(Model.KMcpassportDescription)
                    <a href="@Model.KMcpassportButtonLink" target="_blank" class="btn btn-primary" role="button" aria-pressed="false">@Model.KMcpassportButtonText</a>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container-fluid">
    <!--Coworking Packages Cards -->
    <div class="container" id="coworking-packages">
        <h2 class="text-center medium-text text-extrabold" style="color:#333;">Coworking <span class="orange-text">Membership Packages</span></h2>
        <div class="spacer-md"></div>
        @Html.Partial("~/Views/Partials/CoworkingPackages.cshtml")
    </div>

    <div class="spacer-lg"></div>

    <!--KMC Benefits -->
    <div class="container desktop-view" id="kmc-benefits">
        <div class="row">
            <div class=" col-12 col-lg-6 overlap_contents">
                @Html.Raw(Model.KMcbenefitsHeading)
                <div class="orange-divider-2px"></div>
                @Html.Raw(Model.KMcbenefitsDescription)
            </div>

            <div class="col-12 col-lg-6 m-auto">

                <div class="container overlap_right"
                     style="position: relative;
                            height: 500px;">

                    <img class="img-fluid img_object-fit img-overlap-style"
                         data-src="@Model.KMcbenefitsSupportingImage.Url"
                         alt="@Model.KMcbenefitsImageAltTag"
                         title="@Model.KMcbenefitsImageAltTag" />
                </div>

                <div class="overlap_border_right"></div>
            </div>
        </div>
    </div>

    <div class="mobile-view">
        <div class="container">
            @Html.Raw(Model.KMcbenefitsHeading)
            <div class="orange-divider-2px"></div>
            @Html.Raw(Model.KMcbenefitsDescription)
        </div>

        <img class="img-fluid img_object-fit-mobile img-overlap-style-mobile"
             data-src="@Model.KMcbenefitsSupportingImage.Url"
             alt="@Model.KMcbenefitsImageAltTag"
             title="@Model.KMcbenefitsImageAltTag" />
    </div>
</div>

<!--FAQ-->
@Html.Partial("~/Views/Partials/FAQSchema.cshtml")

<!-- Featured Locations -->
@Html.Partial("~/Views/Partials/FeaturedLocations/CoworkingSpaces.cshtml")

@section Scripts{
    <script src="~/Scripts/custom/aboveTheFold_Carousel.es5.min.js"></script>

    <script>
        $(document).ready(function () {
            var element = document.getElementById("featured-nav-title");
            element.innerHTML = "Coworking Locations";
        })
    </script>
    
    <script>
        $('.panel-collapse').on('show.bs.collapse', function () {
            $(this).siblings('.panel-heading').addClass('active');
        });

        $('.panel-collapse').on('hide.bs.collapse', function () {
            $(this).siblings('.panel-heading').removeClass('active');
        });
    </script>
}